.contact__card-container {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  .contact__card-item {
    padding: 1rem 2rem;
    background-color: #fef4f5;
    min-width: 300px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 30px;
      height: 30px;
    
      @media screen and (min-width: 2000px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.input__container {
  div {
    margin: 1rem 0;
    width: 100%;
  
    input, textarea {
      font-weight: 600;
      padding: 1rem;
      width: 100%;
      color: var(--secondary-color);
      background-color: var(--primary-color);
      border: none;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
      
      &:hover {
        box-shadow: 0 0 5px rgba(0,0,0, 0.15);
      }

    }

    button {
      font-size: 0.75rem;
      font-weight: 600;
      margin: 1rem;
      padding: 1.5rem;
      color: white;
      background-color: var(--secondary-color);
      border-radius: 12px;
      border: none;
      outline: none;
      cursor: pointer;

      @media screen and (min-width: 2000px) {
        font-size: 1.5rem;
      }
    }
  }
}